{% extends "layout.html" %}
{% block content %}
<form method="POST">
    <div>
        {{album_form.name.label}}
        {{album_form.name(value=album.name)}}
    </div>
    <div>
        {{album_form.release.label}}
        {{album_form.release(value=album.release)}}
    </div>
    <div>
        {{album_form.price.label}}
        {{album_form.price(value=album.price)}}
    </div>
    <div>
        {{album_form.button}}
    </div>
</form>

{% for track in tracks %}
<div>
    {{track.name}}
    {{track.length}}
</div>
{% endfor %}
<form method="POST">
    {{track_form.number.label}}
    {{track_form.number}}
    {{track_form.name.label}}
    {{track_form.name}}
    {{track_form.length.label}}
    {{track_form.length}}
    {{track_form.button}}
</form>
{% endblock %}