<html>
    <head>
        <title></title>
    </head>
    <body>
        <ul>
            <li><a href="{{url_for('index')}}">Index</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                {{current_user.username}}
            {% else %}
                <li><a href="{{url_for('register')}}">Register</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>

        {% block content %}{% endblock %}
    </body>
</html>